$dark-blue-dm-elements: hsl(209, 23%, 22%);
$very-dark-blue-dm-bg: hsl(207, 26%, 17%);
$very-dark-blue-lm-text:hsl(200, 15%, 8%);
$dark-gray-lm-input: hsl(0, 0%, 52%);
$very-light-gray-lm-bg: hsl(0, 0%, 98%);
$white-dm-text-lm-elements:hsl(0, 0%, 100%);
$weight3:300;
$weight6:600;
$weight8:800;
$font-fam: 'Nunito',
sans-serif;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-fam;
}

.topbar-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
    padding: 30px 0;
    .navbar-logo {
        text-decoration: none;
        font-weight: $weight8;
        font-size: 24px;
    }
    .dark-mode-btn {
        padding: 10px 15px;
        border-radius: 5px;
        align-items: center;
        i {
            margin-top: 3px;
            padding-right: 5px;
        }
        h3 {
            font-size: 16px;
            font-weight: $weight3;
        }
    }
}

.search-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: 756px) {
        flex-direction: column;
        input {
            width: 100% !important;
            margin: 20px auto;
        }
        .select {
            position: relative;
            left: -25%;
        }
    }
    justify-content: space-between;
    margin: 0 5%;
    padding: 30px 0;
    input {
        height: 50px;
        width: 300px;
        padding-left: 20px;
        border: none;
        border-radius: 5px;
    }
    .select {
        height: 50px;
        option {
            font-family: $font-fam;
            font-weight: $weight3;
        }
    }
}