* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.topbar-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
  padding: 30px 0;
}

.topbar-cont .navbar-logo {
  text-decoration: none;
  font-weight: 800;
  font-size: 24px;
}

.topbar-cont .dark-mode-btn {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}

.topbar-cont .dark-mode-btn i {
  margin-top: 3px;
  padding-right: 5px;
}

.topbar-cont .dark-mode-btn h3 {
  font-size: 16px;
  font-weight: 300;
}

.search-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
  padding: 30px 0;
}

@media screen and (max-width: 756px) {
  .search-cont {
    flex-direction: column;
  }
  .search-cont input {
    width: 100% !important;
    margin: 20px auto;
  }
  .search-cont .select {
    position: relative;
    left: -25%;
  }
}

.search-cont input {
  height: 50px;
  width: 300px;
  padding-left: 20px;
  border: none;
  border-radius: 5px;
}

.search-cont .select {
  height: 50px;
  border-radius: 5px;
}

.search-cont .select option {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

.countries-cont {
  padding: 5%;
  justify-content: space-between;
}

.countries-cont .card-cont {
  width: 300px;
  height: 350px;
}

.countries-cont .card-cont img {
  width: 100%;
  height: 200px;
}
